<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/slds %>
  </head>
  <body class="slds">
    <header>
    </header>
    <main>
      <div>
        <h1>OAuth Token Simulator App For Einstein Vision</h1>
        <div id="EinsteinVision">
          Access Token : <%= oauthtoken %>
        </div>
          </div>
      </main>
        <footer>
        </footer>
    </body>
</html>